.item {
    width: 180px;
    display: inline-block;
}

.gray {
    background-color: #eee;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}