<div class="select">
<mat-form-field appearance="outline">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option  value='0'>some data 1</mat-option>
    <mat-option  value='1'>some data 2</mat-option>
  </mat-select>
</mat-form-field>


  <mat-form-field appearance="outline" >
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search something" value="">
  </mat-form-field>

</div>


  
  <mat-selection-list #users>
    <mat-list-option 
    *ngFor="let user of usersList; let i=index"
    [ngClass]="{'gray': user.role ==='Admin'}">
    <div>
      <span>{{user.username}}</span>
      <span>{{user.name}}</span>
      <span *ngIf="user.role === 'Admin'" class="item">{{user.role}}</span>
      </div>
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Options selected: {{users.selectedOptions.selected.length}}
  </p>
  
